header{
    width: 100%;
    background: linear-gradient(90deg, #b1fab6 70.71%, white);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background: linear-gradient(90deg, #b1faf9 70.71%, white);
}

nav>dl>dd{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}