.display {
    text-decoration: none;
    color: white;
}

.display li {
    display: inline-block;
    align-content: center;
    justify-content: space-between;
    padding-right: 16px;
}

.homepage {
    text-align: center;
    left: translateY(-50%);
    color: white;
    padding: 6pt;
}

.container {
    padding: 10px;
}

article {
    position: relative;
    left: 25%;
    width: 50%;
    align-self: center;
}